@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --bg-color: #F6F6F6;
  --text-color: #0F1F1C;
  --text-color-opacity: rgba(15, 31, 28, 0.5);
  --white: #fff;
  --orange: #FF7C4E;
  --border-radius-xs: 15px;
  --border-radius-s: 27px;
  --border-radius-m: 35px;
  --border-radius-l: 60px;
  --border-radius-xl: 100px;
  --container-width: 1270px;
  --container-padding: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1270px) {
  .container-right {
    padding-left: 15px;
  }
}

h1 {
  font-size: clamp(32px, 1.127rem + 2.91vw, 55px);
  font-weight: 600;
}

h2 {
  font-size: clamp(26px, 0.903rem + 2.41vw, 45px);
}

h3 {
  font-size: clamp(20px, 0.756rem + 1.65vw, 33px);
}

h2, h3 {
  font-weight: 500;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.nav-icon-wrapper {
  --time: 0.2s;
  --width: 30px;
  --hight: 30px;
  --line-hight: 4px;
  --color: #fff;
  --border-radius: 5px;
  width: var(--width);
  height: var(--hight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-hight);
  background-color: var(--color);
  border-radius: var(--border-radius);
}
.nav-icon::before, .nav-icon::after {
  position: absolute;
  content: "";
  width: var(--width);
  height: var(--line-hight);
  background-color: var(--color);
  border-radius: var(--border-radius);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}
.nav-icon::before {
  top: -10px;
  left: 0;
}
.nav-icon::after {
  top: 10px;
  left: 0;
}

.nav-icon.nav-icon-active {
  background-color: transparent;
}
.nav-icon.nav-icon-active::before, .nav-icon.nav-icon-active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}
.nav-icon.nav-icon-active::before {
  transform: rotate(45deg);
}
.nav-icon.nav-icon-active::after {
  transform: rotate(-45deg);
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--white) !important;
  padding: 26px 48px;
  background: rgb(255, 123, 78);
  background: linear-gradient(166deg, rgb(255, 123, 78) 0%, rgb(255, 88, 78) 100%);
  border-radius: var(--border-radius-s);
}
.btn:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgb(129, 44, 2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgb(129, 44, 2) inset;
  box-shadow: 0px 5px 10px 2px rgb(129, 44, 2) inset;
  transition: 0.2s ease-in;
}
.btn:active {
  position: relative;
  top: 2px;
}
.btn--large {
  font-size: 25px;
}
@media (max-width: 767px) {
  .btn--large {
    font-size: 20px;
    padding: 20px 40px;
    border-radius: var(--border-radius-xs);
  }
}
.btn--slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: var(--border-radius-xl);
  padding: 0;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.logo--footer {
  color: var(--orange);
}

.header {
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%);
  color: var(--white);
}
@media (max-width: 1270px) {
  .header {
    clip-path: polygon(0% 0%, 100% 0, 100% 93%, 50% 100%, 0% 93%);
    min-height: 730px;
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    clip-path: polygon(0% 0%, 100% 0, 100% 96%, 50% 100%, 0% 96%);
  }
}
.header__top {
  margin-bottom: 86px;
}
@media (max-width: 1270px) {
  .header__top {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .header__top {
    margin-bottom: 40px;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header__wrapper {
    flex-direction: column;
  }
}
.header__content {
  max-width: 603px;
}
.header__badge {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: var(--border-radius-xs);
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .header__badge {
    font-size: 15px;
    padding: 10px 25px;
  }
}
.header__title {
  margin-bottom: 30px;
}
.header__text {
  font-size: clamp(18px, 0.859rem + 0.89vw, 25px);
  font-weight: 500;
  opacity: 0.5;
  max-width: 519px;
  margin-bottom: 68px;
}
@media (max-width: 1270px) {
  .header__text {
    margin-bottom: 46px;
  }
}
.header__image {
  margin-top: -100px;
}
@media (max-width: 1270px) {
  .header__image {
    margin-top: 40px;
    min-width: 400px;
  }
}
@media (max-width: 767px) {
  .header__image {
    min-width: unset;
    max-width: 300px;
    margin-inline: auto;
    margin-top: 10px;
  }
}
.header__btn {
  margin-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}
@media (max-width: 1270px) {
  .nav {
    column-gap: 60px;
  }
}
.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 1270px) {
  .nav__list {
    column-gap: 40px;
  }
}
.nav__link {
  position: relative;
}
.nav__link::after {
  width: 0;
  transition: 0.3s;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  display: block;
  width: 85%;
  height: 4px;
  border-radius: 20px;
  background-color: #C4C4C4;
}
.nav__link:active {
  font-weight: 600;
}
.nav__login {
  display: flex;
  column-gap: 25px;
}
.nav__login-link {
  position: relative;
}
.nav__login-link::after {
  width: 0;
  transition: 0.2s;
}
.nav__login-link:hover::after {
  position: absolute;
  content: "";
  display: block;
  width: 85%;
  height: 4px;
  border-radius: 20px;
  background-color: #C4C4C4;
}
.nav__login-link:active {
  font-weight: 600;
}
.nav__login-btn {
  font-size: inherit;
  font-weight: inherit;
  padding: 13px 44px;
}
.nav__login--footer {
  column-gap: 66px;
}
.nav__burger-button {
  display: none;
}
@media (max-width: 767px) {
  .nav__burger-button {
    display: block;
  }
}
@media (max-width: 767px) {
  .nav--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(222deg, #428e5f -17.38%, #112120 78.4%), #204434;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .nav--mobile > .nav__logo h2 {
    font-size: 32px;
  }
  .nav--mobile > .nav__list, .nav--mobile > .nav__login {
    display: flex;
  }
  .nav--mobile > .nav__list {
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    font-size: 22px;
  }
  .nav--mobile > .nav__burger-button {
    position: fixed;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.destinations {
  padding-top: 96px;
  padding-bottom: 100px;
  overflow-x: hidden;
}
.destinations__wrapper {
  display: flex;
  column-gap: 50px;
}
@media (max-width: 767px) {
  .destinations__wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
}
.destinations__content {
  width: 456px;
}
.destinations__title {
  line-height: 1.2;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .destinations__title {
    max-width: 300px;
  }
}
.destinations__title span {
  font-size: clamp(20px, 0.87rem + 1.27vw, 30px);
}
.destinations__text {
  margin-bottom: 80px;
  font-size: clamp(18px, 0.859rem + 0.89vw, 25px);
  font-weight: 500;
  color: var(--text-color-opacity);
}
@media (max-width: 767px) {
  .destinations__text {
    margin-bottom: 40px;
  }
}
.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .destinations__slider {
    width: auto;
  }
}

.slider {
  position: relative;
  width: 1110px;
  height: 380px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .slider {
    width: auto;
  }
}
.slider__item {
  width: 335px !important;
  height: 402px;
  object-fit: cover;
  border-radius: var(--border-radius-m);
  align-items: center;
  transition: 0.2s ease-in;
}

.owl-carousel .item {
  text-align: center;
  margin-top: 27px;
}

.owl-dots {
  display: none;
}

.slider .center .slider__item {
  width: 380px;
  height: 456px;
  margin-top: 0;
}

.owl-nav button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
  width: 68px;
  height: 68px;
  background: rgb(255, 123, 78) !important;
  background: linear-gradient(166deg, rgb(255, 123, 78) 0%, rgb(255, 88, 78) 100%) !important;
  border-radius: 100px !important;
  color: var(--white) !important;
}
.owl-nav button span {
  display: block;
  color: transparent;
  background-size: cover;
  width: 11px;
  height: 14px;
  margin: 0 auto;
}
.owl-nav button.owl-prev span {
  background-image: url(/image/icons/arrow-left.svg);
}
.owl-nav button.owl-next span {
  background-image: url(/image/icons/arrow-right.svg);
}
.owl-nav button:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgb(129, 44, 2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgb(129, 44, 2) inset;
  box-shadow: 0px 5px 10px 2px rgb(129, 44, 2) inset;
  transition: 0.2s ease-in;
}

.owl-prev {
  left: -27px;
}

.owl-next {
  right: -27px;
}

.customers {
  padding-top: 100px;
  padding-bottom: clamp(50px, -0.027rem + 10.51vw, 133px);
}
.customers__wrapper {
  display: flex;
  column-gap: 68px;
}
@media (max-width: 1270px) {
  .customers__wrapper {
    column-gap: 30px;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .customers__wrapper {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
.customers__img {
  max-width: 478px;
}
.customers__img img {
  border-radius: var(--border-radius-m);
}
.customers__content {
  max-width: 565px;
}
.customers__title {
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .customers__title {
    margin-bottom: 20px;
  }
}

.review__profile {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .review__profile {
    margin-bottom: 30px;
  }
}
.review__profile-avatar {
  width: 134px;
  height: 134px;
  background: linear-gradient(166deg, rgb(255, 123, 78) 0%, rgb(255, 88, 78) 100%);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .review__profile-avatar {
    width: 80px;
    height: 80px;
  }
}
.review__profile-name-title {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .review__profile-name-title {
    margin-bottom: 0;
  }
}
.review__profile-name-country {
  font-size: clamp(20px, 1.06rem + 0.63vw, 25px);
  color: var(--text-color-opacity);
}
.review__text {
  max-width: 491px;
  margin-bottom: 30px;
  font-size: clamp(18px, 0.973rem + 0.51vw, 22px);
  font-weight: 500;
  color: var(--text-color-opacity);
}
@media (max-width: 767px) {
  .review__text {
    margin-bottom: 10px;
  }
}
.review__raiting svg + svg {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .review__raiting svg {
    width: 30px;
    height: 30px;
  }
}

.cta {
  padding-top: 100px;
  padding-bottom: 35px;
}
.cta__wrapper {
  position: relative;
  text-align: center;
  padding: clamp(50px, 0.657rem + 8.23vw, 115px) 0;
  background-color: var(--white);
  border-radius: var(--border-radius-l);
}
.cta__wrapper::after, .cta__wrapper::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 83px;
}
.cta__wrapper::after {
  left: 74px;
  bottom: 56px;
  background-image: url(/image/bg/group1.svg);
}
.cta__wrapper::before {
  top: 75px;
  right: 80px;
  background-image: url(/image/bg/group2.svg);
}
.cta__title {
  margin-bottom: 30px;
}
.cta__text {
  font-size: clamp(20px, 0.87rem + 1.27vw, 30px);
  color: var(--text-color-opacity);
  margin-bottom: 60px;
}

.subscribe {
  padding-top: 100px;
  padding-bottom: 56px;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__title {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .subscribe__title {
    margin-bottom: 30px;
  }
}
.subscribe-form {
  display: flex;
  column-gap: 20px;
  padding: 12px 15px;
  background-color: var(--white);
  border-radius: var(--border-radius-m);
}
@media (max-width: 767px) {
  .subscribe-form {
    flex-direction: column;
    border-radius: var(--border-radius-s);
  }
}
.subscribe-form__input {
  padding-inline: 30px;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .subscribe-form__input {
    height: 80px;
    background-color: var(--bg-color);
    margin-bottom: 10px;
    border-radius: var(--border-radius-xs);
  }
}
.subscribe-form__input::placeholder {
  color: var(--text-color-opacity);
}
.subscribe-form__btn {
  padding: 34px 86px;
}
@media (max-width: 767px) {
  .subscribe-form__btn {
    padding: 28px 50px;
  }
}

.footer {
  padding-top: 50px;
  margin-bottom: 74px;
  color: var(--text-color-opacity);
}

@media (max-width: 767px) {
  .footer .nav {
    align-items: baseline;
  }
}

@media (max-width: 767px) {
  .footer .nav .nav__list {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer .nav__list,
  .footer .nav__login {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */